<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AB.UI | Grids</title>
    <script src="https://kit.fontawesome.com/4e7b8dc12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./grid.css">
    <link rel="stylesheet" href="../../../styles/styles.css">
</head>
<body>
    <!-- navbar -->
   
        <nav class="navbar flex-sb">
            <ul class="flex-row">
                <li><img src="../../../assets/logo.jpg" alt="logo" class="mg-l-xs"></li>
                <li><a href="../../../index.html" class="padding-m">Home</a></li>
                <li><a href="../avatar/avatar.html" class="padding-m">Docs</a></li>
            </ul>
            <ul class="social-btns flex-row">
                <li><a href="https://www.linkedin.com/in/abhishek-s-29884b21b/" class="padding-m">Linkedin</a></li>
                <li><a href="https://github.com/abhishek17551" class="padding-m">Github</a></li>
            </ul>
        </nav>

        <div class="wrapper">
            <ul class="sidebar flex-column-sidebar">
               
                <a href="../avatar/avatar.html" class="padding-m">Avatar</a>
                <a href="../alert/alert.html" class="padding-m">Alert</a>
                <a href="../badge/badge.html" class="padding-m">Badge</a>
                <a href="../button/button.html" class="padding-m">Button</a>
                <a href="../card/cards.html" class="padding-m">Card</a>
                <a href="./grids.html" class="padding-m">Grids</a>
                <a href="../image-input/responsive-images.html" class="padding-m">Image</a>
                <a href="../image-input/input.html" class="padding-m">Input</a>
                <a href="../lists/list.html" class="padding-m">List</a>
                <a href="./modal.html" class="padding-m">Modal</a>
                <a href="../ratings/ratings.html" class="padding-m">Ratings</a>
                <a href="../slider/slider.html" class="padding-m">Slider</a>
                <a href="./snackbar.html" class="padding-m">Snackbar</a>
                <a href="../text-utilities/text-utilities.html" class="padding-m">Text Utilities</a>
            </ul>
      
        
            <div class="page-wrapper">
                
                
                <!-- Grid -->
                <h3>Grids</h3>
                <p class="mg-t-s">CSS Grid Layout excels at dividing a page into major regions or defining the relationship in terms of size, position, and layer, between parts of a control built from HTML primitives.</p>
                <h4 class="mg-t-m">Grid with Two Columns(2X2)</h4>
                <div class="grid-container mg-t-m mg-l-l">
                    <div class="grid grid_items grid_two_columns mg-t-m">
                        <div class="item_one">Item One</div>
                        <div class="item_two">Item Two</div>
                        <div class="item_three">Item Three</div>
                        <div class="item_four">Item Four</div>
                    </div>
                </div>

                <div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=solarized+dark&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520grid_items%2520grid_two_columns%2520mg-t-m%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_one%2522%253EItem%2520One%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_two%2522%253EItem%2520Two%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_three%2522%253EItem%2520Three%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_four%2522%253EItem%2520Four%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 298px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="line-divider"></div>

                <h4 class="mg-t-m">Grid with three columns(3X2)</h4>
                <div class="grid-container mg-t-m mg-l-l">
                    <div class="grid grid_items grid_three_columns mg-t-m">
                        <div class="item_one">Item One</div>
                        <div class="item_two">Item Two</div>
                        <div class="item_three">Item Three</div>
                        <div class="item_four">Item Four</div>
                        <div class="item_five">Item Five</div>
                        <div class="item_six">Item Six</div>
                    </div>
                </div>

                <div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=solarized+dark&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520grid_items%2520grid_three_columns%2520mg-t-m%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_one%2522%253EItem%2520One%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_two%2522%253EItem%2520Two%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_three%2522%253EItem%2520Three%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_four%2522%253EItem%2520Four%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_five%2522%253EItem%2520Five%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522item_six%2522%253EItem%2520Six%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 335px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </div>
       
   
</body>
</html>