<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../styles/styles.css">
    <link rel="icon" href="../../../assets" type="image/icon type" />
    <link rel="stylesheet" href="./avatar.css">
</head>
<body>
    <!-- navbar -->
   
        <nav class="navbar flex-sb ">
            <ul class="flex-row">
                <li><img src="../../../assets/logo.jpg" alt="logo" class=" mg-l-xs"></li>
                <li><a href="../../../index.html" class="padding-m">Home</a></li>
                <li><a href="../avatar/avatar.html" class="padding-m">Docs</a></li>
            </ul>
            <ul class="social-btns flex-row">
                <li><a href="#" class="padding-m">Linkedin</a></li>
                <li><a href="#" class="padding-m">Gitthub</a></li>
            </ul>
        </nav>

        <div class="wrapper">
            <ul class="sidebar flex-column-sidebar">
              
                <a href="../avatar/avatar.html" class="padding-m">Avatar</a>
                <a href="../alert/alert.html" class="padding-m">Alert</a>
                <a href="../badge/badge.html" class="padding-m">Badge</a>
                <a href="../button/button.html" class="padding-m">Button</a>
                <a href="cards.html" class="padding-m">Card</a>
                <a href="responsive-images.html" class="padding-m">Image</a>
                <a href="input.html" class="padding-m">Input</a>
                <a href="list.html" class="padding-m">List</a>
                <a href="modal.html" class="padding-m">Modal</a>
                <a href="other-utils.html" class="padding-m">Other Utilities</a>
            </ul>
      
        
        <div class="page-wrapper">
                <div>
                    <h1>Avatar</h1>
                    <p class="mg-t-s">Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for 'container' objects — projects, 
                        spaces, repositories, etcetera — to give them a recognisable visual identity.</p>
                    <div class="avatar-container mg-t-s  mg-m">
                        <img src="../../../assets/my_picture.jpg" alt="avatar" class="avatar rounded flex-sb sm">
                        <img src="../../../assets/my_picture.jpg" alt="avatar" class="avatar rounded flex-sb med" >
                        <img src="../../../assets/my_picture.jpg" alt="avatar" class="avatar rounded flex-sb large">
                    </div>
                    </div>
                    <div>
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=solarized+dark&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-container%2520mg-t-s%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522assets%252Fmy_picture.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2520rounded%2520flex-sb%2520sm%2522%253E%250A%2520%2520%253Cimg%2520src%253D%2522assets%252Fmy_picture.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2520rounded%2520flex-sb%2520med%2522%2520%253E%250A%2520%2520%253Cimg%2520src%253D%2522assets%252Fmy_picture.jpg%2522%2520alt%253D%2522avatar%2522%2520class%253D%2522avatar%2520rounded%2520flex-sb%2520large%2522%253E%250A%253C%252Fdiv%253E"
                        style="width: 100%; height: 279px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                    </div>

                </div>
              
   
        </div>
       
   
</body>
</html>