<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
    <script src="https://kit.fontawesome.com/4e7b8dc12c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./ratings.css">
    <link rel="stylesheet" href="../../../styles/styles.css">
</head>
<body>
    <!-- navbar -->
   
        <nav class="navbar flex-sb">
            <ul class="flex-row">
                <li><img src="../../../assets/logo.jpg" alt="logo" class="mg-l-xs"></li>
                <li><a href="../../../index.html" class="padding-m">Home</a></li>
                <li><a href="../avatar/avatar.html" class="padding-m">Docs</a></li>
            </ul>
            <ul class="social-btns flex-row">
                <li><a href="https://www.linkedin.com/in/abhishek-s-29884b21b/" class="padding-m">Linkedin</a></li>
                <li><a href="https://github.com/abhishek17551" class="padding-m">Github</a></li>
            </ul>
        </nav>

        <div class="wrapper">
            <ul class="sidebar flex-column-sidebar">
               
                <a href="../avatar/avatar.html" class="padding-m">Avatar</a>
                <a href="../alert/alert.html" class="padding-m">Alert</a>
                <a href="../badge/badge.html" class="padding-m">Badge</a>
                <a href="../button/button.html" class="padding-m">Button</a>
                <a href="../card/cards.html" class="padding-m">Card</a>
                <a href="../image-input/responsive-images.html" class="padding-m">Image</a>
                <a href="../image-input/input.html" class="padding-m">Input</a>
                <a href="../lists/list.html" class="padding-m">List</a>
                <a href="./modal.html" class="padding-m">Modal</a>
                <a href="./other-utils.html" class="padding-m">Other Utilities</a>
                <a href="./ratings.html" class="padding-m">Ratings</a>
                <a href="../snackbar/snackbar.html" class="padding-m">Snackbar</a>
                <a href="../text-utilities/text-utilities.html" class="padding-m">Text Utilities</a>
            </ul>
      
        
            <div class="page-wrapper">
                
                
                <!-- Star Rating -->
                <h3>Star Ratings</h3>
                <p class="mg-t-s">A star rating is a popular rating scale used to leave feedback regarding the quality of products, services, and experiences.</p>
                <div class="mg-t-m flex-center">
                    <div class="rating-container rating flex-center">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>

                <div>

                </div>

                <div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=solarized+dark&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522mg-t-m%2520flex-center%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522rating%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522far%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522far%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522far%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 353px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <h3>Emoji Ratings</h3>
                <p class="mg-t-s">A emoji rating is a popular rating scale used to express feedback regarding the quality of products, services, and experiences based on facial expressions.</p>
                <div class=" mg-t-m flex-center">
                    <div class="rating-container rating flex-center">
                        <i class="fa fa-sad-cry padding-xs"></i>
                        <i class="fa fa-frown padding-xs"></i>
                        <i class="fa fa-smile padding-xs"></i>
                        <i class="fa fa-grin padding-xs"></i>
                        <i class="fa fa-grin-stars padding-xs"></i>
                    </div>
                </div>

                <div>
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=solarized+dark&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522rating-container%2520rating%2520flex-center%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-sad-cry%2520padding-xs%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-frown%2520padding-xs%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-smile%2520padding-xs%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-grin%2520padding-xs%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-grin-stars%2520padding-xs%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 316px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>    
               
            </div>
            
        </div>
       
   
</body>

</html>